  
<div>
    <nav class="navbar bg-body-tertiary mb-5">
        <form action="" class="container-fluid justify-content-start ">
            <a href="/home" class="btn btn-outline-secondary me-sm-3 me-2 mb-3" type="button">Home</a>
            <a href="/card/cardCollection" class="btn btn-outline-secondary me-2 me-sm-3 mb-3" type="button">Cartas</a>
            <a href="/card/create" class="btn btn-outline-secondary me-sm-3 me-2 mb-3" type="button">Criar cartas</a>
            <button class="btn btn-outline-secondary me-sm-3 me-2 mb-3" type="button">lutar</button>
        </form>
    </nav>
</div>